<div id="login-panel-body">
	<div><img class="panel-logo" src="{{url_for('static', filename='img/logo-black.png')}}"></div>
	<hr>
	<form id="login-panel-form" role="form" name="login-panel-form">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><span class ="glyphicon glyphicon-user"></span></span>
				<input type="email" class="form-control" placeholder="Email" name="usr">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class ="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Password" maxlength="12" name="pwd">
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-block login-panel-btn" id="login-panel-login">登入</button>
	</form>
	<hr>
	<span>沒帳號？&nbsp;</span>
	<button type="button" class="btn btn-default login-panel-btn" id="login-panel-register">註冊</button>
	<span>&nbsp;或者&nbsp;</span>
	<button type="button" class="btn btn-default login-panel-btn" id="login-panel-visit">訪客</button>
</div>
<script src="{{url_for('static', filename='js/login.js')}}"></script>