<div id="register-panel-body">
	<div><img class="panel-logo" src="{{url_for('static', filename='img/logo-black.png')}}"></div>
	<hr>
	<form id="register-panel-form" role="form" name="register-panel-form">
		<div class="form-group">
			<label>電子信箱：</label>
			<input type="email" class="form-control" placeholder="Email" name="usr">
		</div>
		<div class="form-group">
			<label>密碼：</label>
			<input type="password" class="form-control" placeholder="Password" maxlength="12" name="pwd">
		</div>
		<div class="form-group">
			<label>確認密碼：</label>
			<input type="password" class="form-control" placeholder="Password" maxlength="12" name="confirm">
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="help">我想幫助完善「台北找水喝」</label>
		</div>
		<button type="submit" class="btn btn-primary btn-block register-panel-btn" id="register-panel-register">註冊</button>
	</form>
</div>
<script src="{{url_for('static', filename='js/register.js')}}"></script>