<div id="setting-panel-body">
    <span>使用者偏好設定</span>
    <div class="panel-tag">
        <div class="panel-tag-before"></div>
        <div class="panel-tag-middle">依設置場所分類&nbsp;</div>
        <div class="panel-tag-after"></div>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place-all">全選</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="0">開放空間</label>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="1">學校</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="2">運動中心</label>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="3">醫院</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="4">政府機關</label>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="5">捷運站</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="6">公共設施</label>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="7">圖書館</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="place" value="8">其他</label>
    </div>
    <div class="panel-tag">
        <div class="panel-tag-before"></div>
        <div class="panel-tag-middle">依飲水機狀況分類&nbsp;</div>
        <div class="panel-tag-after"></div>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="status-all">全選</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="status" value="0">可使用</label>
    </div>
    <div>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="status" value="1">待確認</label>
        <label class="checkbox-inline checkbox-align"><input type="checkbox" name="status" value="2">暫停使用</label>
    </div>
    <div class="panel-tag">
        <div class="panel-tag-before"></div>
        <div class="panel-tag-middle">自訂飲水機顯示範圍&nbsp;</div>
        <div class="panel-tag-after"></div>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="range">只顯示</label>
        <input type="text" class="inline-text" name="range">
        <label>公尺內</label>
    </div>
    <div class="col-xs-6 panel-btn-container"><button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;取消
    </button></div>
    <div class="col-xs-6 panel-btn-container"><button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;套用
    </button></div>
</div>
<script src="{{url_for('static', filename='js/setting.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/setting.css')}}">